<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./common/head.html" ignore missing with context %}
    <title>Home Page</title>
</head>

<body>
    <!-- include navbar from partials -->
    {% include "./common/nav.html" ignore missing with context %}

    <div class="container">
        <div class="row">
            <div class="col-2">
                <h5>Categories</h5>
                <!-- https://getbootstrap.com/docs/5.3/components/list-group/#links-and-buttons -->
                <div class="list-group">
                    {% for category in categories %}
                    <button class="list-group-item list-group-item-action" hx-target="#productList" hx-swap="innerHTML"
                        hx-get="/product/bycat/{{  category.id }}" hx-trigger="click">{{ category.name }}</button>
                    {% endfor %}
                </div>

            </div>
            <div class="col-10">
                <h5>Products</h5>
                <!--
                <div id="productList" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% include "/product/partials/product_list.html" ignore missing with context %}
                </div>
                -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Picture</th>
                            <th scope="col">ID</th>
                            <th scope="col">Category</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody id="productList">
                        {% include "/product/partials/product_list.html" ignore missing with context %}
                    </tbody>
                </table>

                <!-- Add Product Form -->
                <form class="ms-2 me-auto" hx-post="/product/" hx-target="#productList" hx-swap="beforeend">
                    <fieldset>
                        <legend>Add a new product</legend>
                        <div class="mb-3">
                            <label for="category_id" class="form-label">Category</label>
                            {% include "/product/partials/cat_select.html" ignore missing with context %}
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea rows="2" class="form-control" id="description" name="description"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="thumbnail" class="form-label">Thumbnail URL</label>
                            <input type="text" class="form-control" id="thumbnail" name="thumbnail"
                                placeholder="https://">
                        </div>
                        <div class="mb-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" class="form-control" id="stock" name="stock" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" min="0.01" step="0.01" class="form-control" id="price" name="price"
                                placeholder="0.00" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

    <!-- Load common CSS and JS -->
    {% include "./common/dependencies.html" ignore missing with context %}
</body>

</html>