<div class="col">
    <div class="card mb-3" style="max-width: 540px;">
        <img src="{{ product.thumbnail }}" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }} ({{ product.id }})</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">&euro;{{ product.price }} | in stock: {{ product.stock }}</h6>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
</div>