<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./common/head.html" ignore missing with context %}
    <title>Parametrs</title>
</head>

<body>
    <!-- include navbar from partials -->
    {% include "./common/nav.html" ignore missing with context %}

    <!-- Show welcome message -->
    <h1>Welcome {{ name }}</h1>

    <!-- If name value is missing, show instructions -->
    {% if name == "" %}
        <h4>Try changing the URL to /params?name=your name</h4>
    {% endif %}

    <!-- Load common CSS and JS -->
    {% include "./common/dependencies.html" ignore missing with context %}
</body>

</html>